:root {
    --circle-pos1: 0%;
    --circle-pos2: 30%;
}

html {
    background-repeat:inherit;
    background-color: #e8d6ee;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
}

h1 {
    font-size: 5rem;
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
}

h2 {
    font-size: 3.5rem;
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.warning {
    position: fixed;
    bottom: 3vh;
    right: 1vw;
    background-color: white;
    padding: 1.5rem;
    border-radius: 2rem;
}

.menu {
    width: 40vw;
    margin: 1vw auto;
    padding: 1vw;
    height: 3vh;
    top: 0;
    background-color: #b08adc;
    border-radius: 2vw;
    align-items: center;
    text-align: center;
}

#menuBtn{
    border: none;
    border-left: solid 0.1rem;
    font-family: "Poppins", sans-serif;
    margin: auto;
    font-size: 1.2em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    color: #48314E;
    background-color: #b08adc;
}

#menuBtn:hover{
    color: #b08adc;
}

.simpleMenu {
    width: 25vw;
    margin: 1vw auto;
    margin-top: 0;
    padding: 1vw;
    height: 5vh;
    display: block;
    position:relative;
    bottom: 0;
    align-items: center;
    text-align: center;
}

.mainSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 10 colums*/
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 90vh;
    margin-top: 20vh;
    width: 100%;
    align-items: center;
}

.logo {
    grid-column: 3 / span 6;
    text-align: center;
    padding: 3rem;
    height: 80%;
    border-top: 0.5vw #faedff solid;
    border-bottom: 2vh #9c79a9 solid;
    border-right: 2vw #faedff solid;
    border-left: 2vw #faedff solid;
    border-radius: 15rem 15rem 0 0;
    background-image: linear-gradient(to top, #b3ceff, #b08adc);
}

.windowL {
    grid-column: 1 / span 2;
    background-image: linear-gradient(to top right, #b3ceff, #f9acc5, transparent);
    border-bottom: 2vh #9c79a9 solid;
    border-top: 0.5vw #faedff solid;
    border-right: 2vw #faedff solid;
    height: 100%;
    margin-right: 5vw;
    border-radius: 0 15rem 0 0;
}

.windowR {
    grid-column: 9 / span 2;
    background-image: linear-gradient(to top left, #b3ceff, #f9acc5, transparent);
    border-bottom: 2vh #9c79a9 solid;
    border-top: 0.5vw #faedff solid;
    border-left: 2vw #faedff solid;
    height: 100%;
    margin-left: 5vw;
    border-radius: 15rem 0 0 0;
}

.home{
    font-family: "Berkshire Swash", serif;
    color: white;
    font-size: 6rem;
    margin: auto;
    text-align: center;
}

.name{
    font-family: "Berkshire Swash", serif;
    font-size: 5rem;
    text-align: left;
    margin: auto;
    margin-top: 5vh;
}

.smallTitle{
    font-family: "Berkshire Swash", serif;
    font-size: 3rem;
    text-align: left;
    margin-top: 5vh;
}

.portfolio {
    text-align: left;
    margin-left: 2vw;
    margin-right: 2vw;
    overflow-y: hidden;
    overflow-x: scroll;
}

.Hscroll {
    width: 100vw;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.about {
    display: flex;
    text-align: left;
    height: 90vh;
}

.abPic{
    grid-column: 7 / span 4;
    grid-row: 1 / span 4;
    background-image: url("images/Headshot_2025.jpg");
    background-size: cover;
    border-bottom: 2vh #9c79a9 solid;
    border-top: 0.5vw #faedff solid;
    border-right: 2vw #faedff solid;
    width: 28vw;
    height: 100%;
    margin-left: 4vw;
    border-radius: 30% 30% 0 0;
}

.abWindow {
    grid-column: 2 / span 4;
    grid-row: 1 / span 4;
    background-image: linear-gradient(to top right, #b3ceff, #f9acc5, transparent);
    border-bottom: 2vh #9c79a9 solid;
    border-top: 0.5vw #faedff solid;
    border-left: 2vw #faedff solid;
    height: 100%;
    border-radius: 30% 30% 0 0;
}

.abTitle {
    grid-column-start: 3;
    grid-column-end: span 4;
    grid-row: 2;
    align-self: end;
    margin: auto;
    font-size: 5rem;
}

.abBio {
    grid-column-start: 2;
    grid-column-end: span 5;
    grid-row: 3 / span 2;
    width: 90%;
    margin-bottom: 2rem;
    margin-left: 6vw;
    padding-bottom: 4rem;
}

.abRight{
    grid-column-start: 5;
    grid-column-end: span 4;
    float: left;
    text-align: left;
    overflow-wrap: auto;
}

.abtText {
    font-size: 1rem;
    padding: 1vw;
}

.abBtn {
    height: 8vh;
    width: 8vh;
    border: none;
    border-radius: 5rem;
    font-size: 2rem;
    background-color: #AB89B5;
    color: white;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#Ab3 {
    margin: inherit;
    text-align: center;
    font-size: 1.5rem;
}

.topText{
    grid-column-start: 1;
    grid-column-end: span 4;
    text-align: center;
}

.preview1{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 3;
}

.preview2{
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row: 3;
}

.preview3{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 4;
}

.preview4{
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row: 4;
}

.lgPreview {
    grid-column-start: 5;
    grid-column-end: span 6;
    grid-row: 1 / span 4;
    padding-left: 2rem;
    padding-right: 2rem;
    align-content: flex-end;
    height: 100%;
    width: 90%;
    background-image: url("images/WB_title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.preview {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
}

.smallBox{
    background-color: white;
    padding: 1.5rem;
    padding-top: 1rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
}

.pfLeft{
    width: 30%;
    margin: 2.5%;
    margin-left: 5%;
    float: left;
    text-align: left;
}

.pfRight{
    width: 40%;
    margin: 2.5%;
    float: right;
    text-align: left;
    overflow-wrap: scroll;
}

.pfText {
    height: 45vh;
    font-size: 1rem;
    background-color: #EAE2ED;
    padding: 2vh;
    margin-bottom: 1vh;
    overflow-y: scroll;
}

.pfBtn {
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    background-color: #AB89B5;
    text-align: center;
    color: white;
    margin-right: 2rem;
}

.pfBtn:hover {
    background-color: #e4ccec;
    color: #AB89B5;
}

.pfFloatBtn{
    height: 8vh;
    width: 5vh;
    border: none;
    border-radius: 1vw;
    margin-top: 30vh;
    font-size: 3rem;
    background-color: white;
    color: #ab89b5;
}

.pfFloatBtn:hover{
    color: #593b62;
}

.pfTitle {
    display: inline-flex;
    align-items: end;
    width: 50rem;
}

.sections {
    width: 75vw;
    height: 5vh;
    margin-left: 12vw;
    margin-top: 5vh;
    background-color: #EAE2ED;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.secBtn {
    background-color: #EAE2ED;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border: none;
    width: 20vw;
    height: 4vh;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    margin-right: 2vw;
    margin-left: 2.5vw;
    margin-top: 1vh;
    color:#48314E;
}

.secBtn:hover {
    background-color: #e2d2e7;
    color: #7f528d;
}

.secBtn:focus {
    background-color: #e2d2e7;
    color: #7f528d;
}

.previews{
    grid-column-start: 3;
    grid-column-end: span 3;
    display: flex;
}

.medBox{
    background-color: white;
    margin: 2vw;
    margin-bottom: 0;
    padding: 1vw;
    border-radius: 1vw;
    overflow: hidden;
}

.bigBox{
    background-color: white;
    border-radius: 1rem;
    flex-basis: 100rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 12vh;
    margin-left: 12vw;
    margin-right: 12vw;
}

.txtbox {
    height: 30rem;
    width: 70rem;
    padding: 3rem;;
    background-color: #EAE2ED;
    font-size: 1.6rem;
    color: #48314E;
}

.btn{
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    margin-left: 5rem;
    border-radius: 3rem;
    border: none;
    background-color: #C9B0D1;
    text-align: center;
}

.btn:hover{
    background-color: white;
}

.btn:focus{
    background-color: white;
}

.smallImg{
    width: 100%;
    margin-top: 1vh;
    object-fit: contain;
}
.bigImg{
    width: 35vw;
}

.imgScroll{
    overflow: auto;
    white-space: nowrap;
    width: 50rem;
}

#circle{
    height: 10rem;
    width: 10rem;
    position: fixed;
    bottom: 5rem;
    margin-left: 2vw;
    z-index: 2;
    background-color: #6B4A75;
    border-radius: 10rem;
    transition: margin-left 2s;
}

#divider{
    width: 42vw;
    height: 8vh;
    position: fixed;
    bottom: 0vw;
    background-color: #48314E;
}

#dividerT{
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0vw;
    background-color: #48314E;
}